In [10]:
import pandas as pd
import sqlite3 as sq

In [25]:
# Assign the csv path to a file
gk_file = r'C:\Users\nickp\Documents\Python Projects\mls_data\all_goalkeepers.csv'
player_file = r'C:\Users\nickp\Documents\Python Projects\mls_data\all_players.csv'
table_file = r'C:\Users\nickp\Documents\Python Projects\mls_data\all_tables.csv'
event_file = r'C:\Users\nickp\Documents\Python Projects\mls_data\events.csv'
match_file = r'C:\Users\nickp\Documents\Python Projects\mls_data\matches.csv'

# Read the CSVs in the file and assign it to a dataframe
gk_df = pd.read_csv(gk_file)
player_df = pd.read_csv(player_file)
table_df = pd.read_csv(table_file)
event_df = pd.read_csv(event_file)
match_df = pd.read_csv(match_file, low_memory=False)

In [31]:
# Read the top 5 rows
match_df.head()

,id,home,away,date,year,time (utc),attendance,venue,league,part_of_competition,...,away_offsides,home_wonCorners,away_wonCorners,home_saves,away_saves,away_bench_14_num,away_bench_14,away_bench_14_minute,home_formation,away_formation
0,NaN,New England,San Jose,7/31/1996,1996,NaN,"12,871",Foxboro Stadium,1996 MLS,Regular Season,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Dallas,Colorado,6/15/1996,1996,NaN,"9,704",Cotton Bowl,1996 MLS,Regular Season,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Colorado,D.C. United,8/29/1996,1996,NaN,"6,368",Mile High Stadium,1996 MLS,Regular Season,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,LA Galaxy,New England,8/8/1996,1996,NaN,"10,251",Rose Bowl,1996 MLS,Regular Season,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,New England,D.C. United,7/20/1996,1996,NaN,"18,347",Foxboro Stadium,1996 MLS,Regular Season,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
# Import glob to read multiple CSV files into one df rather than separate dfs
import glob

# Get CSV files list from folder
path = r"C:\Users\nickp\Documents\Python Projects\mls_data"
csv_files = glob.glob(path + "/*.csv")

In [47]:
# Read each CSV file into DataFrame
# Creating a list of dataframes
df_list = (pd.read_csv(file, low_memory=False) for file in csv_files)

In [36]:
# Concat all dataframes
big_df = pd.concat(df_list, ignore_index=True)

In [63]:
# Alternate approach with map function
def readcsv(args):
    return pd.read_csv(args, low_memory=False, header=None)

df = pd.concat(map(readcsv, csv_files))

In [70]:
# Using Dask to call the entire dataframe
import dask.dataframe as dd
df = dd.read_csv(path + "/*.csv", low_memory=False)

In [71]:
df.compute()

,Player,Club,POS,GP,GS,MINS,SHTS,SV,GA,GAA,...,away_offsides,home_wonCorners,away_wonCorners,home_saves,away_saves,away_bench_14_num,away_bench_14,away_bench_14_minute,home_formation,away_formation
0,Mark Dodd,DAL,GK,31.0,31.0,2776.0,235.0,160.0,45.0,1.45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Tony Meola,MET,GK,29.0,29.0,2610.0,188.0,142.0,38.0,1.31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Mark Dougherty,TB,GK,28.0,28.0,2520.0,186.0,123.0,47.0,1.68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Jorge Campos,LA,GK,24.0,24.0,2160.0,133.0,100.0,27.0,1.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Garth Lagerwey,KC,GK,23.0,22.0,1959.0,133.0,83.0,38.0,1.73,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7284,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,6.0,10.0,2.0,4.0,NaN,NaN,NaN,4-2-3-1,4-2-3-1
7285,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,7.0,4.0,1.0,3.0,NaN,NaN,NaN,4-2-3-1,4-1-4-1
7286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,6.0,4.0,0.0,3.0,NaN,NaN,NaN,4-2-3-1,4-4-2
7287,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,5.0,6.0,2.0,2.0,NaN,NaN,NaN,4-1-4-1,4-4-2
7288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,8.0,4.0,4.0,4.0,NaN,NaN,NaN,4-3-3,4-2-3-1